<section class="home">
 <div class="row">
  <table class="bordered highlight">
    <thead>
      <tr>
          <th data-field="id"></th>
          <th data-field="id">Airline</th>
          <th data-field="name">Departure Airport</th>
          <th data-field="price">Destination Airport</th>
          <th data-field="name">Date of Flight</th>
          <th data-field="price">Price</th>
          <th data-field="price">Book</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>$0.87</td>
      </tr>
       <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>$0.87</td>
      </tr><div> <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>$0.87</td>
      </tr></div>
    </tbody>
  </table>
 </div>
</section>