<section class="main_container">
 <div class="row">
  <table class="bordered highlight">
    <thead>
      <tr>
          <th data-field="id">Book</th>
          <th data-field="id">Airline</th>
          <th data-field="name">Departure Airport</th>
          <th data-field="price">Destination Airport</th>
          <th data-field="name">Date of Flight</th>
          <th data-field="price">Price</th>
          <th data-field="price">Book</th>
      </tr>
    </thead>
    <tbody>
      <% @flights_list.each do | a_flight | %>
        <tr>
        <% attributes = [a_flight.airline, a_flight.from_id, a_flight.to_id, a_flight.dept_time, a_flight.cost, "Book"] %>
       <% counter = 0 %>
       <td><%= radio_button_tag "choice", "Click to book", { style: { display: "block"} } %></td>
        <% while counter < 6 %>
          <td> <%= attributes[counter] %> </td>
          <% counter += 1 %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
 </div>
 <%= will_paginate @flights_list %>
</section>