<section class="other_container row">
  <div class="top_pad">
    <%= render partial: "partials/flash"%>
      <%= form_tag(reservation_path, method: [:post], class: "col l9 offset-l1 s12 left") do %>
        <%= label_tag :ref, "Enter Booking Confirmation Code" %>
        <%= text_field_tag :ref, nil, { class: "validate", type: "text", required: "required" } %>
        <button class="btn waves-effect waves-light blue col l4" type="submit" name="search_flight">Find Reservation</button>
      <% end %>
  </div>
</section>