$search-bg-color1: #f1f8e9;
$search-bg-color2: #f9fbe7;

.pagination a li.active { color: #fff; }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    @extend .white;
    font: 100% Helvetica, sans-serif;
    @extend .grey-text, .text-darken-2;
    .pg_top_margin {
      margin-top: 1em;
    }
}

h1, h2, h3, h4, h5, h6 {
  @extend .blue-text, .text-darken-1;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.0em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.65em;
}

.nav-wrapper {
  @extend .blue, .accent-1;
  ul {
      @include white-links;
  }
  img {
     margin-top:0.5em;
  }

  .dropdown-content {
      position: relative;
      margin-top: 4.2em;
      width: 15em !important;
      @include blue-links;
  }
}

main {
  flex: 1 0 auto;
}

.page-footer {
  @extend .grey, .lighten-2;
  @include white-links-no-hover-bg;
  .footer-copyright {
    @extend .white-text;
  }
}

.booking_form {
  @extend .white;
  min-height: 27em;
  z-index: 100;
  @include round-edges(1em);
  margin-top: 4em;
  label {
    height: 3.4em;
    @extend .white;
    padding-top: 1em !important;
    border-color: rgb(242, 242, 242) !important;
    border: 1px !important;
    color: rgb(97, 97, 97);
    margin-top: 0.35em;
    margin-bottom: 0.35em;
  }
  input[type = "date"] {
    border-color: rgb(242, 242, 242) !important;
  }
}

.box-default {
  border: 1px solid !important;
}


.main_container {
  min-height: 40em;
  width: 100%;
  .booking_form {
    background: linear-gradient($search-bg-color1, $search-bg-color2);
    position: absolute;
    top: 6em;
  }
}

.modal {
  width: 45%;
  padding: 0!important;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    left: 0;
    margin: auto 1em;
    visibility: visible;
  }