body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    @extend .white;
    font: 100% Helvetica, sans-serif;
    @extend .grey-text, .text-darken-2;
}


h1 {
  font-size: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
  @extend .blue-text, .text-darken-1;
}

.nav-wrapper {
  @extend .blue, .accent-1;
  ul {
    a {
       @extend .white-text;
    }
  }
  img {
     margin-top:0.5em;
  }

  .dropdown-content {
      position: relative;
      margin-top: 4.2em;
      width: 15em !important;
    a {
      @extend .blue-text, .text-darken-1;
    }
  }


}

main {
  flex: 1 0 auto;
}

.page-footer {
  @extend .grey, .lighten-2;
  a {
      @extend .white-text;
    }
  .footer-copyright {
    @extend .white-text;
  }
}

.booking_form {
  @extend .white;
  height: 27em;
  z-index: 100;
  @include round-edges(1em);
  margin-top: 4em;
}

.box-default {
  border: 1px solid !important;
}


