@mixin round-edges($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin round-top-edges($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin round-bottom-edges($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin blue-links {
  a {
      @extend .blue-text, .text-darken-1;
      &:hover {
        @extend .blue, .darken-1;
        @extend .white-text;
      }
  }
}

@mixin white-links {
  a {
       @extend .white-text;
      &:hover {
        @extend .white;
        @extend .blue-text, .text-darken-1;
      }
  }
}

@mixin white-links-no-hover-bg {
  a {
       @extend .white-text;
  }
}

