.info_box {
  z-index: 10;
  border: 3px #82b1ff solid;
  position: fixed;
  @include round-edges(1em);
  margin-top: 1em;
  padding: 0 !important;
  div:first-child {
    margin: 0;
    font-size: 2em;
    @include round-top-edges(0.35em);
    @extend .white-text;
    @extend .blue, .accent-1;
  }
  div {
    margin: 0.5em;
  }

}

.all_flight{
  margin: auto;
  width: 90%;
}

.fetched {
  position: relative;
  left:auto;
  z-index: 100;
  margin-top: 2em;
  padding-top: 4em;
}