// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  height: 40em;
  width: 100%;
  .booking_form {
    background: linear-gradient($search-bg-color1, $search-bg-color2);
    position: absolute;
    top: 6em;
  }
}

