<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using our platform, <%= @name %></h1>
    <p>
      You have successfully made your booking,
      your flight code is: <%= @flight_id %>.<br>
    </p>
    <p>
      Please find your flight information below.
    </p>
    <p>Thanks.</p>
  </body>
</html>