<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using our platform, <%= @name %></h1>
    <p>
      You have successfully updated your booking.
    </p>
    <p>
      Your optimal satisfaction is of utmost importance to us.
    </p>
    <p>
      MatFlights... delivering happiness.
    </p>
    <p>Cheers!</p>
  </body>
</html>