<footer class="page-footer">
    <div class="row">
      <div class="col l5 offset-l1 s12">
        <h5 class="white-text">MatFlights Inc</h5>
        <p class="grey-text text-lighten-4">For over three decades, we have been the best in the industry.Taking you to the place of your choice in a the most conevenient and cost effective way.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">We want to hear from you</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">+2348039129437</a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:info@matflights.com">info@matflights.com</a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:ccare@matflights.com">ccare@matflights.com</a></li>
        </ul>
      </div>
    </div>
  <div class="footer-copyright">
    <div class="row">
      <div class="col l5 offset-l1 s12">
        © 2015 Copyright MatFlights Inc
      </div>
      <div class="col l2 offset-l4 s12">
      <a href="https://github.com/andela-oojewale/matflights"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.facebook.com/mattwal"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fa fa-cc-paypal fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">

$(document).ready(function(){
      $('.slider').slider({full_width: true, height: "40em"});
      $('.modal-trigger').leanModal();



    });
</script>



