<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="row">
      <a href="#" class="brand-logo col l6 offset-l1 s12">MatFlights</a>
      <ul class="right hide-on-med-and-down col l3 offset-l2 s12">
        <a class="waves-effect waves-light btn">Login</a>
        <a class="waves-effect waves-light btn">Sign Up</a>
      </ul>
      </div>
    </div>
  </nav>
</div>